/* official fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'MinecraftSeven';
    src: url('$lib/MinecraftSeven.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinecraftTen';
    src: url('$lib/MinecraftTen.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background: #000;
    /*background-image: linear-gradient(
        #724b4f80, 
        #724b4f80
      ),
      url("$lib/images/background.png");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/*
html {
    scroll-behavior: smooth;
}
*/

.mc7 {
    font-family: 'MinecraftSeven', sans-serif;
}
.mc10 {
    font-family: 'MinecraftTen', sans-serif;
}
.default-font {
    font-family: 'Noto Sans', sans-serif;
}

.bg-white-concrete-powder {
    background-image: linear-gradient(
        #ffffffc0, 
        #ffffffe0,
        #ffffffc0
      ), url('$lib/images/bg/white_concrete_powder.png');
    background-repeat: repeat;
    background-position: center center;
}
.bg-cerise-concrete-powder {
    background-image: linear-gradient(
        #ee2a7ba0,
        #ee2a7b70,
        #ee2a7b70,
        #ee2a7ba0
    ), url('$lib/images/bg/cerise_concrete_powder.png');
    background-repeat: repeat;
    background-position: center center;
}
.bg-concrete {
    background: url('$lib/images/bg/white_concrete.png') repeat;
}
.bg-wool {
    background-image: linear-gradient(
        #ffffffe0, 
        #ffffffc0,
        #ffffffe0
      ), url('$lib/images/bg/white_wool.png');
    background-repeat: repeat;
    background-position: center center;
}
.bg-calcite {
    background-image: linear-gradient(
        #ffffffe0, 
        #ffffffc0,
        #ffffffe0
      ), url('$lib/images/bg/calcite.png');
    background-repeat: repeat;
}
.bg-snow {
    background-image: linear-gradient(
        #ffffffa0, 
        #ffffff70,
        #ffffffa0
      ), url('$lib/images/bg/snow.png');
    background-repeat: repeat;
}
.bg-bookshelf {
    background-image: linear-gradient(
        to left,
        #000,
        #000c 10%,
        #000c 90%,
        #000
      ),
      url("$lib/images/bg/bookshelf.png");
    background-repeat: repeat;
    background-size: initial;
}
.bg-stone {
    background-image: linear-gradient(
        to left,
        #000,
        #000c 10%,
        #000c 90%,
        #000
      ),
      url("$lib/images/bg/stone.png");
    background-repeat: repeat;
    background-size: initial;
}
.bg-footer {
    /*background-image: linear-gradient(
        #0008, 
        #0008
      ), url("https://minecraft.wiki/images/Mud_Bricks_(texture)_JE1_BE1.png");*/
    background-repeat: repeat;
    background-size: initial;
    background-position: top center;
}
.bg-gray-wool {
    background-image: linear-gradient(
        #0008, 
        #0008
      ), url("https://minecraft.wiki/images/Gray_Wool_(texture)_JE3_BE3.png");
    background-repeat: repeat;
    background-size: initial;
}
.bg-dark-oak-planks {
    background-image: linear-gradient(
        to left,
        #000,
        #000a 10%,
        #000a 90%,
        #000
      ), url("$lib/images/bg/dark_oak_planks.png");
    background-repeat: repeat;
    background-size: initial;
}
.bg-map {
    border-image: url('https://minecraft.wiki/images/Map.png') 32 fill round;
    border-image-width: 3rem;
}
.bg-book {
    border-image: url('$lib/images/book2x.png') 70 round;
    border-image-width: 3rem;
    background: #FFF9ED;
    border-radius: 20px;
}

a {
    color: #BE185D;
}

/* use the class below when you need a button to not look like a button.
   a11y standards say clickable things should use html elements that are
   meant to be clicked, so using <div> is not an option.
*/
.notButton {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
}


/* use the class below to animate titles fading in on page load. */
@keyframes titleFadeIn {
    from { transform: translateY(10px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
}
.titleFadeIn {
    animation: titleFadeIn 1s ease-out;
    animation-fill-mode: backwards;
}